.main__wrapper {
    background-color: #bdc3c7;
}

.main {
    padding: 0 10px;
}

.main__title {
    padding: 35px 0;
    font-size: 26px;
    text-align: center;
    color: #34495e;
    font-weight: 700;
}

.main__content {
    padding: 0 0 20px;

    &--items {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        padding: 0 10px;
    }
}